<div class="container main-content checkout">
  <% if @item.picture.attached? %>
		<%= image_tag @item.picture %>
	<% end %>
      <div>
        <p><strong>Item: </strong><%=@item.name%></p>
        <p><strong>Pick up date: </strong><%=params[:start_date]%></p>
        <p><strong>Return date: </strong><%=params[:end_date]%></p>
        <p><strong>Pick up from: </strong><%=@item.name%></p>
        <p><strong>Period: </strong><%=params[:end_date].to_i-params[:start_date].to_i+1%> days</p>
         <p><strong>Price per day: </strong>$<%=@item.price%></p>
        <p><strong>Total price: </strong>$<%=@item.price*(params[:end_date].to_i-params[:start_date].to_i+1)%></p>
        <button type="submit" id='pay-now' class="btn btn-primary">Go to checkout</button>
      </div>
  </div>

  <script src="https://js.stripe.com/v3/"></script>

<script>
    const stripe = Stripe('<%= ENV["STRIPE_PK_TEST"] %>')

    function redirectToStripe() {
        stripe.redirectToCheckout({ sessionId: '<%= @session.id %>'})
    }

    document.querySelector("#pay-now").addEventListener("click", redirectToStripe)
</script>
