
<div class="container main-content">
  <div class="px-5">
    <h3 class="mb-2">My Items Bookings:</h3>
    <div class="mb-5">
    <%if @bookings.length>0%>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Item</th>
            <th scope="col">Booked From</th>
            <th scope="col">To</th>
            <th scope="col">Customer Name</th>
          </tr>
        </thead>
        <tbody>
          <%@bookings.each do |booking|%>
            <tr>
              <th scope="row">1</th>
              <td><%=link_to booking.item.name,item_path(booking.item)%></td>
              <td><%=booking.start_date.to_date%></td>
              <td><%=booking.end_date.to_date%></td>
              <td><%=booking.customer_user.name%></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    <%else%>
      <p>No items have been booked yet. </p>
    <%end%> 
    </div>

    <% if @items.length>0 %>
      <h3>My Items Listed for Hire</h3>
      <div class="flex">
        <%@items.each do |item| %> 
        <a href="<%=item_path(item.id)%>"> 
          <%=render "items/item-card" , item: item%>
        </a> 
        <%end%> 
      </div>
      <div class="center-element">
        <%== pagy_bootstrap_nav(@pagy) %>
      </div> 
    <%else%> 
    <h3 class="mb-2">My Items For Hire:</h3>
    <p>You have not yet listed any items for hire !!!</p>
    <%end%>

  </div>
</div>