<div id='item-booking-dates' data-unavailable="<%= @item.unavailable_dates.to_json %>">
        <%=form_with url: new_booking_path, method: :get, local: true do |form|%>
          <%= form.hidden_field :start_date %>
          <%= form.hidden_field :end_date %>
          <%= form.hidden_field :item_id , {value: @item.id}%>
          <label>Online Booking</label>
          <input class="datepicker" id="depart" type="hidden" style="display: none"  />
          <button class="btn btn-block">Make a Booking </button>
        <%end%>
</div>