<%= form_with(model: item) do |form|  %>
 
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <strong><%= form.label :name , 'Title'%></strong>
    <%= form.text_field :name , class: "form-control" %>
  </div>

  <div class="field form-group">
    <strong><%= form.label :picture ,'Attatch image' %></strong>   
    <%= form.file_field :picture , class: "form-control", accept: "image/*" %>  
  </div>

 <div class="form-row">
  <div class="field form-group col-md-6">
    <strong><%= form.label :price , 'Price per day' %></strong>    
    <%= form.number_field :price , class: "form-control numeric float optional",step:'any' %>  
  </div>

  <div class="form-group col-md-6">
    <strong><%= form.label :category_id %></strong>
    <%=form.select :category_id , categories.map {|cat| [cat.name, cat.id]},{},{ :class=> "form-control"} %>
  </div>
 </div>
  <div class="field form-group">
    <strong><%= form.label :description %><strong>
    <%= form.text_area :description , class: "form-control", rows: "5" %>
  </div>

  <div class="actions">
    <%= form.submit  class: "btn btn-primary" %>
  </div>
<% end %>



    