<div class="card m-2" style="width: 18rem;">
        <%if item.picture.attached?%>
        <%=image_tag item.picture ,class: "card-img-top ", alt: "Card image cap"%>
        <%end%>
        <div class="card-body">
          <a href="<%=item_path(item.id)%>">
          <h5 class="card-title"><%=item.name%></h5>
          </a>
          <div class="price">
            <span style="color: chocolate;" >$ <%=item.price%></span>
            <span>per day</span>
        </div>
          <p class="card-text hide-overflow"><%=item.description%></p>
          <%if item.user.address%>
            <p class="card-text"><small class="text-muted"><%=item.user.address.suburb%>,<%=item.user.address.state%></small></p>       
          <%end%>
        </div>
    </div>