
<%=render "partials/search"%>
<div class="container">
  <div class="show-item-div">
    <div class="left-column">
      <%=image_tag @item.picture if @item.picture.attached?%>
      <h3><%=@item.name%></h3>
      <div class="price">
        <span style="color: chocolate;" >$<%=@item.price%></span>
        <span>per day</span>
      </div>
      <div class="description">
        <strong>
          <p>Details</p>
        </strong>
        <p><%=@item.description%></p>
        <p class="card-text"><small class="text-muted"><i class="fas fa-map-marker"></i> <%=@item.pickup_address.suburb%>,<%=@item.pickup_address.state%></small></p>        
        <iframe
          width="600"
          height="450"
          style="border:0"
          loading="lazy"
          allowfullscreen
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAGILIV3ypV3pPMkmPmijmMEVI1dO2J0gE
            &q=<%=@item.pickup_address.address%>+<%=@item.pickup_address.suburb%>,<%=@item.pickup_address.state%>+Australia">
        </iframe>
      </div>
    </div>
    <div class="right-column">
      <div class="owner_user_name">
        <i class="fas fa-user-circle"></i>
        <span ><%=@item.user.name%><span>
      </div>       
  </p>
     <%if  user_signed_in?%>
       <%if current_user.id == @item.user_id  %>
       <p style="font_size: 1.5rem">Manage your item</p>
         <i class="far fa-edit"></i><%= link_to 'Edit', edit_item_path(@item) %> |
         <i class="far fa-trash-alt"></i> <%=link_to "Delete", item_path(@item), method: :delete, data: { confirm: "Are you sure?"}%>
       <%else%>
         <%= render 'booking-form', item: @item%>
       <%end%>
     <% else%> 
        <%= render 'booking-form', item: @item%>
     <%end%>
    <p id="unavailable"></p>
  </div>
</div>
<script>
const unavailableDates = JSON.parse(document.querySelector('#item-booking-dates').dataset.unavailable)
document.getElementById("unavailable").innerHTML=document.querySelector('#item-booking-dates').dataset.unavailable
  flatpickr(".datepicker",
   {
     inline: true,
     mode: 'range',
     minDate: 'today',
     dateFormat:"Y-m-d",
     disable: unavailableDates,
     
     onChange: function(selectedDates, dateStr, instance) {
  
     if(selectedDates){
      if(selectedDates[0]){
        document.getElementById("start_date").value = selectedDates[0].toLocaleDateString('fr-ca');
      }
  
      if(selectedDates[1]){
        document.getElementById("end_date").value = selectedDates[1].toLocaleDateString('fr-ca');
     }
    }
      },
   });

   
</script>

